nav {
  background-color:#ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

a {
  padding-left:10%;
  padding-right: 10%;
  color: rgb(0, 0, 0);
  text-decoration: none;

} 
  
header{
  background-color:rgb(135, 190, 31);
  padding: 7rem; 
  color: white;
  text-align: center;
}

body{
  background-color:rgb(13,202,219);
}

.heading{
  font-family:sans-serif;
  text-align: center;
  font-size: xx-large;
}

a:hover {
  background-color:#db3d87;
  padding-left:10%;
  padding-right: 10%;
  padding-top: 4px;
  padding-bottom: 4px;
}